################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/SE_Scripts/bin/Debug/net8.0
/SE_Scripts/obj
